body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #122947;
  min-width: 320px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header {
  width: 1170px;
  padding: 0 98px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  transition: 1s all;
  margin-bottom: 70px;
  margin-top: 40px;
  transition: 1s padding-bottom;
}
.header--padding {
  padding-bottom: 300px;
  transition: 1s padding-bottom;
}
.header__menu {
  display: none;
}
.logo__item {
  width: 131px;
  height: 21px;
}
.header__navigation {
  position: relative;
  top: 0;
  width: 75%;
}
.header__actions {
  display: flex;
}
.navigation__list {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navigation__item + .navigation__item {
  margin-left: 35px;
  margin-top: 0;
}
.navigation__link,
.user-actions__link {
  text-decoration: none;
  color: #122947;
}
.navigation__link {
  font-size: 16px;
  line-height: 24px;
}
.navigation__link:hover,
.navigation__link:focus {
  text-decoration: underline;
}
.navigation__link:active {
  opacity: 0.8;
  text-decoration: none;
}
.user-action__icon:hover,
.social__icon:hover,
.user-action__icon:focus,
.social__icon:focus {
  opacity: 0.8;
}
.user-action__icon:active,
.social__icon:active {
  opacity: 0.5;
}
.navigation__contacts {
  display: none;
}
.social__item + .social__item {
  margin-left: 30px;
}
.user-actions__item + .user-actions__item {
  margin-left: 30px;
}
@media (max-width: 1350px) {
  .header {
    width: 768px;
    padding: 0 45px;
  }
  .header__menu {
    display: block;
    width: 22px;
    height: 11px;
    background-color: #122947;
    border: none;
    cursor: pointer;
  }
  .header__navigation {
    position: absolute;
    top: 2em;
  }
  .navigation__list {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .navigation__link {
    font-size: 32px;
  }
  .navigation__contacts {
    display: flex;
  }
  .navigation__item + .navigation__item {
    margin-left: 0;
    margin-top: 35px;
  }
  .header--padding {
    padding-bottom: 325px;
    transition: 1s all;
  }
  .user-actions__item + .user-actions__item {
    margin-left: 20px;
  }
}
@media (max-width: 678px) {
  .header {
    width: 320px;
    padding: 0 15px;
    margin-bottom: 35px;
  }
  .header--padding {
    padding-bottom: 325px;
    transition: 1s all;
  }
  .navigation__link {
    font-size: 28px;
  }
  .logo__item {
    width: 85px;
    height: 13px;
  }
  .header__actions {
    margin-left: 50px;
  }
}
.main__block {
  width: 1170px;
  padding: 0 98px;
  margin: 0 auto;
}
.about {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 210px;
}
.about__item:fisrt-child {
  order: 1;
}
.about__item:nth-child(2) {
  order: 3;
}
.about__container {
  text-align: center;
  z-index: 2;
  order: 2;
  margin-top: 60px;
}
.about__title {
  font-size: 58px;
  font-weight: 400;
  line-height: 49px;
  margin: 0;
  margin-bottom: 20px;
}
.about__description {
  font-size: 18px;
  line-height: 140%;
  max-width: 274px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.button {
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #122947;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 28px;
  padding-right: 28px;
  border: 1px solid #B3BAC1;
  box-sizing: border-box;
  border-radius: 2px;
  display: inline-block;
  transition: 0.3 all;
  background-color: transparent;
}
.button:hover {
  background-color: #122947;
  color: #fff;
  transition: 0.3 all;
  border: 1px solid #122947;
}
.about__button {
  margin-bottom: 35px;
}
.promo-card {
  text-decoration: none;
  color: #122947;
  width: 330px;
  height: 422px;
  display: inline-block;
  background-size: contain;
  position: relative;
}
.promo-card::after {
  content: '';
  width: 27px;
  height: 14px;
  display: inline-block;
  background-image: url(images/left-2x.png);
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: -1.6em;
}
.about .promo-card:nth-child(2) {
  background-image: url(images/about_1-desktop.png);
}
.about .promo-card:nth-child(3) {
  background-image: url(images/about_2-desktop.png);
}
.promo-card__text {
  font-size: 16px;
  line-height: 140%;
  position: absolute;
  bottom: -2em;
}
@media (max-width: 1350px) {
  .main__block {
    width: 768px;
    padding: 0 45px;
  }
  .about {
    justify-content: space-between;
  }
  .about__container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 28px;
    margin-top: 0;
  }
  .about__title {
    font-size: 54px;
    line-height: 63px;
  }
  .about__description {
    font-size: 18px;
    line-height: 145%;
    max-width: 274px;
  }
  .promo-card {
    width: 245px;
    height: 322px;
  }
  .about__item:nth-child(2) {
    order: 1;
  }
  .about__item:nth-child(3) {
    order: 3;
  }
  .about .promo-card:nth-child(2) {
    background-image: url(images/about_1-tablet.png);
  }
  .about .promo-card:nth-child(3) {
    background-image: url(images/about_2-tablet.png);
  }
  .promo-card__text {
    font-size: 16px;
    line-height: 140%;
  }
}
@media (max-width: 678px) {
  .main__block {
    width: 320px;
    padding: 0 15px;
  }
  .about__container {
    position: relative;
    order: 1;
    margin-bottom: 35px;
  }
  .about__description {
    font-size: 16px;
    max-width: 243px;
  }
  .promo-card {
    width: 130px;
    height: 170px;
  }
  .promo-card::after {
    width: 23px;
    height: 11px;
    background-image: url(images/left.png);
    bottom: -1.3em;
  }
  .about__title {
    font-size: 42px;
    line-height: 49px;
  }
  .promo-card__text {
    font-size: 12px;
  }
  .about .promo-card:nth-child(2) {
    background-image: url(images/about_1.png);
  }
  .about .promo-card:nth-child(3) {
    background-image: url(images/about_2.png);
  }
}
.bestsellers {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding-bottom: 90px;
}
.bestsellers__container {
  margin-right: 86px;
}
.title {
  font-size: 32px;
  line-height: 130%;
  font-weight: 500;
  margin: 0;
  text-align: left;
  margin-bottom: 25px;
}
.description {
  font-size: 18px;
  line-height: 145%;
  text-align: left;
  margin-bottom: 40px;
}
.bestsellers__description {
  max-width: 214px;
}
.bestsellers__list-container {
  width: 100%;
  position: absolute;
  left: 25em;
  overflow-x: hidden;
}
.bestsellers__list {
  display: flex;
}
.bestsellers__item {
  width: 230px;
  height: 312px;
  position: relative;
}
.bestsellers__item + .bestsellers__item {
  margin-left: 30px;
}
.bestsellers__image {
  z-index: 1;
}
.bestsellers__info {
  position: absolute;
  z-index: 2;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
}
.bestsellers__header {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 145%;
  text-align: center;
}
.bestsellers__desc {
  margin: 0;
  font-size: 13px;
  line-height: 145%;
  color: #9A9DA0;
  text-align: center;
  margin-bottom: 10px;
}
.bestsellers__link {
  font-size: 13px;
  line-height: 145%;
  text-decoration: none;
  color: #122947;
  text-align: center;
  display: block;
}
@media (max-width: 1350px) {
  .bestsellers__list-container {
    left: 22em;
  }
}
@media (max-width: 678px) {
  .bestsellers__container {
    margin: 0 auto;
    text-align: center;
    margin-right: 35px;
  }
  .bestsellers__title,
  .bestsellers__description {
    text-align: center;
  }
}
.banner {
  margin-top: 140px;
  margin-bottom: 140px;
  height: 400px;
  background-image: url(images/banner-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  position: relative;
}
.banner__container {
  position: absolute;
  right: 18em;
  top: 50%;
  transform: translateY(-50%);
}
.banner__title {
  max-width: 280px;
}
.banner__description {
  max-width: 280px;
}
@media (max-width: 1350px) {
  .banner {
    background-position: bottom;
  }
  .banner__container {
    right: 4em;
  }
}
@media (max-width: 678px) {
  .banner {
    height: 562px;
    background-image: url(images/banner-mobile.png);
    background-position: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .banner__container {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .banner__title {
    min-width: 243px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .banner__description {
    min-width: 255px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .bestsellers__list-container {
    display: none;
  }
}
.offer {
  position: relative;
  margin-bottom: 140px;
}
.offer-image {
  width: 670px;
  height: 451px;
  background-image: url(images/offer.png);
  background-repeat: no-repeat;
  z-index: 2;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.offer__container {
  background-color: #F4F1ED;
  width: 670px;
  padding: 100px;
  box-sizing: border-box;
  z-index: 1;
}
.offer_description {
  max-width: 329px;
}
@media (max-width: 1350px) {
  .offer-image {
    width: 398px;
    height: 403px;
    background-image: url(images/offer-tablet.png);
    right: -20%;
  }
  .offer__container {
    padding: 60px;
  }
}
@media (max-width: 678px) {
  .offer {
    height: 442px;
    margin-bottom: 270px;
  }
  .offer-image {
    background-image: url(images/offer-mobile.png);
    width: 250px;
    height: 252px;
    left: 50%;
    top: 90%;
    transform: translateX(-50%);
  }
  .offer__container {
    width: 290px;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  }
  .offer__title {
    width: 230px;
    text-align: center;
    font-size: 28px;
  }
  .description--hidden {
    display: none;
  }
  .offer_description {
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
  }
}
.history {
  width: 100%;
  height: 433px;
  background-image: url(images/history.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
  margin-bottom: 140px;
}
.history__container {
  width: 760px;
  text-align: center;
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
}
.history__title {
  margin-bottom: 50px;
  text-align: center;
}
@media (max-width: 1350px) {
  .history {
    height: 393px;
  }
  .history__container {
    width: 652px;
    top: 100px;
  }
}
@media (max-width: 678px) {
  .history {
    height: 346px;
  }
  .history__container {
    top: 45px;
    width: 242px;
  }
  .history__title {
    font-size: 22px;
    margin-bottom: 30px;
  }
}
.social {
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;
}
.social__container {
  margin: auto;
}
.social__container + .social__container {
  margin-left: 70px;
}
.social__image-list {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
}
.social__description {
  max-width: 381px;
}
@media (max-width: 1350px) {
  .social__image-list {
    width: 354px;
  }
  .social__description {
    max-width: 269px;
  }
  .social__image-item {
    width: 177px;
    height: 177px;
  }
  .social__image-item:first-child,
  .social__image-item:nth-child(4) {
    display: none;
  }
}
@media (max-width: 678px) {
  .social {
    display: flex;
    flex-direction: column;
  }
  .social__container + .social__container {
    margin-left: 0;
  }
  .social__image-list {
    width: 290px;
  }
  .social__image-item {
    width: 145px;
    height: 145px;
  }
  .social__container:last-child {
    order: 1;
    text-align: center;
    margin-bottom: 50px;
  }
  .social__container:first-child {
    order: 2;
  }
  .social__title {
    text-align: center;
    width: 241px;
  }
  .social__description {
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
.contact {
  position: relative;
  margin-bottom: 140px;
}
.contact--info {
  background-color: #F4F1ED;
  width: 670px;
  height: 554px;
  padding: 100px;
  box-sizing: border-box;
}
.contact__header {
  font-weight: 500;
  font-size: 18px;
  line-height: 145%;
  margin: 0;
  margin-bottom: 5px;
}
.contact__desc {
  font-size: 18px;
  line-height: 145%;
  max-width: 256px;
  margin: 0;
  margin-bottom: 20px;
}
.contact__list {
  display: flex;
}
.contact__item + .contact__item {
  margin-left: 30px;
}
.contact--map {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
@media (max-width: 1350px) {
  .contact--info {
    padding: 60px;
    height: 474px;
  }
  .contact--map {
    top: 50%;
    right: -65%;
    transform: translate(-45%, -50%);
  }
}
.footer {
  background: #F4F1ED;
  height: 195px;
}
.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__navigation-list,
.footer__social-list {
  display: flex;
}
.footer__navigation-item .navigation__link {
  font-size: 16px;
  line-height: 24px;
}
.footer__navigation-item + .footer__navigation-item {
  margin-left: 40px;
}
.footer__social-item + .footer__social-item {
  margin-left: 30px;
}
.footer__border {
  width: 100%;
  height: 1px;
  background-color: #D1D1D1;
}
.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__text {
  font-size: 12px;
  line-height: 18px;
  color: #959595;
}
.footer__link {
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
  color: #959595;
}
